$mainBackgroundColor: #009941;
$mainTextColor: #999;
$contrastTextColor: #ffffff;
body {
  font-family: Tahoma, Arial, sans-serif;
}

td{
  padding: 5px;
}

.rt-table, .rt-headers{
  border: 1px solid #dddddd;
  width: 100%;
  font-size: 11px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.rt-header-element, td{
  min-width:5px;
}

.rt-table > thead > tr > th, .rt-header-element {
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  background-color: #dbdbdb;
}

.rt-table > thead > tr > th,
.rt-table > thead > tr > td,
.rt-table > tbody > tr > th,
.rt-table > tbody > tr > td,
.rt-table > tfoot > tr > th,
.rt-table > tfoot > tr > td,
.rt-headers{
  border: 1px solid #dddddd;
}

.rt-scrollable{
  overflow-y: scroll;
  max-height: 150px;
}

.rt-headers, .rt-header-element{
  background-color: #dbdbdb;
}

.rt-header-element{
  padding:2px;
  text-align: center;
  font-weight: bold;
  position: relative;
  width: 100%;
  display: inline-block;
}

.rt-delete-me{
  position: absolute;
  z-index: 10;
  right: 0;
  top: -3px;
  height: 100%;
}

.rt-col-text{
  text-align: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.rt-delete-icon{
  color: #BB4B30;
  text-decoration: none;
  cursor: pointer;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid #ddd;
  color: $mainTextColor;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: $contrastTextColor;
  background-color: $mainBackgroundColor;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: $contrastTextColor;
  cursor: default;
  background-color: $mainBackgroundColor;
  border-color: #ffffff;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: $mainTextColor;
  background-color: #ffffff;
  cursor: not-allowed;
  border-color: #ddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pull-right {
  float: right !important;
}