td.selected, tr.selected {
    background-color: #999999;
    color: #ffffff;
}
a.btn-sorter {
    text-decoration: none !important;
    color: #080808;
    cursor: pointer;
}

th {
    position: relative;
}

.header {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    display: inline-block;
}

.remove-me {
    top: 0;
    right: 0;
    z-index: 101;
    position: absolute;
}

.sorting-carets {
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
}
