@import "Variables";

.rt-table-container {
  box-sizing: border-box;
  font-family: $table-font-family;
  font-size: 11px;
  /************* main table styling *************/
  .rt-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: $text-color;
    background-color: $main-bg-color;
    tr.selected {
      background-color: $darken-utility-color;
    }
    tr.summary-selected {
      background-color: $even-darker-utility-color;
    }
    tr:hover {
      background-color: $utility-color;
    }
    td {
      border-bottom: 1px solid $utility-color;
      padding: 2px 5px;
      min-width: 5px;
      border-right: 1px solid #f9f2f4;
      white-space: nowrap;
    }
  }
  .rt-scrollable {
    overflow-x: auto;
  }
  /************* table header styling *************/
  > .rt-headers-grand-container {
    position: relative;
    > .rt-headers {
      color: $contrast-text-color;
      background-color: $dark-bg-color;
      font-weight: bold;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      overflow: hidden;
      -ms-overflow-style: none; /* Solves "blinking scrollbar" issues in IE */
      > .rt-headers-container {
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: inline-block;
        border-right: 1px solid #f9f2f4;
        > .rt-numeric-filter-container {
          // TODO this shit needs to overflow like the a river
          position: absolute;
          text-shadow: none;
          color: #4a5564;
          border-radius: 2px;
          background-color: #f0f3f5;
        }
        > .rt-info-header {
          min-width: 5px;
        }
        > .rt-header-element {
          min-width: 5px;
          padding: 2px 5px;
        }
        /* display header menu on hover */
        &:hover .rt-header-menu {
          display: block;
        }
        /* header hover menu */
        > .rt-header-menu {
          display: none;
          position: absolute;
          text-shadow: none;
          color: $text-color;
          border-radius: 2px;
          background-color: $utility-color;
          z-index: 1;

          /* menu items */
          .menu-item {
            font-size: 10px;
            margin: 5px;
            padding: 5px;
            border-radius: 1px;
            &:hover {
              background-color: $dark-bg-color;
              color: $contrast-text-color;
            }
            &.menu-item-hoverable:hover .menu-item-input {
              display: block;
            }
            // menu item input box
            .menu-item-input {
              text-align: left;
              display: none;
              font-size: 10px;
              background-color: $utility-color;
              color: $dark-bg-color;
              > input, > label, > a, > div {
                margin: 10px;
              }
            }
          }

          .separator {
            margin: 0 5px;
            border-radius: 2px;
            border: 1px solid $even-darker-utility-color;
          }
        }
      }
    }
  }

  /************* misc styling *************/
  a.btn-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  a.disabled {
    pointer-events: none;
  }
  > .rt-scrollable {
    overflow-y: scroll;
    max-height: $max-height;
  }
}

.rt-corner-image {
  padding-left: 2px;
}

.rt-numeric-filter-box {
}

.rt-plus-sign {
  padding-left: 4px;
  padding-right: 4px;
}

.rt-hide {
  display: none;
}

@import "Pagination";
