@import "Variables";
.rt-table-container {
  box-sizing: border-box;
  font-family: $table-font-family;
  font-size: 11px;
  /************* main table styling *************/
  .rt-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: $text-color;
    background-color: $main-bg-color;
    tr.selected {
      background-color: $darken-utility-color;
    }
    tr.summary-selected {
      background-color: $even-darker-utility-color;
    }
    tr:hover {
      background-color: $utility-color;
    }
    td {
      border-bottom: 1px solid $utility-color;
      padding: 2px 5px;
      min-width: 100px;
      border-right: 1px solid #f9f2f4;
      white-space: nowrap;
    }
  }
  .rt-scrollable{
    overflow-x: auto;
  }
  /************* table header styling *************/
  > .rt-headers-grand-container {
    position: relative;
    > .rt-headers {
      color: $contrast-text-color;
      background-color: $dark-bg-color;
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      overflow: hidden;
      -ms-overflow-style: none; /* Solves "blinking scrollbar" issues in IE */
      > .rt-headers-container {
        display: inline-block;
        border-right: 1px solid #f9f2f4;
        > .rt-caret-container {
          position: relative;
          padding-left: 0.5px;
          > .rt-downward-caret:before {
            content: ' ';
            position: absolute;
            bottom: 0px;
            border: 4px solid transparent;
            border-left-color: #FFF;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }
          > .rt-upward-caret:before {
            content: ' ';
            position: absolute;
            top: -15px;
            border: 4px solid transparent;
            border-left-color: #FFF;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }
        }
        > .rt-info-header {
          min-width: 100px;
        }
        > .rt-header-element {
          min-width: 10px;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 2px;
          padding-top: 2px;
        }
        /* display header menu on hover */
        &:hover .rt-header-menu {
          display: block;
        }
        /* header hover menu */
        > .rt-header-menu {
          display: none;
          position: absolute;
          text-shadow: none;
          color: $text-color;
          border-radius: 2px;
          background-color: $utility-color;
          max-width: 110px;
          /* menu items */
          .menu-item {
            font-size: 9px;
            cursor: pointer;
            margin: 5px;
            padding: 5px;
            border-radius: 1px;
            &:hover {
              background-color: $dark-bg-color;
              color: $contrast-text-color;
            }
            &.menu-item-hoverable:hover .menu-item-input {
              display: block;
            }
            // menu item input box
            .menu-item-input {
              text-align: left;
              display: none;
              font-size: 10px;
              text-shadow: none;
              background-color: $utility-color;
              color: $dark-bg-color;
              > input, > label, > a {
                margin: 10px;
              }
            }
          }
          .separator {
            margin: 0 5px;
            border-radius: 2px;
            border: 1px solid $even-darker-utility-color;
          }
        }
      }
    }
  }

  /************* misc styling *************/
  a.btn-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  a.disabled {
    pointer-events: none;
  }
  > .rt-scrollable {
    overflow-y: scroll;
    max-height: $max-height;
  }
}

.rt-plus-sign{
  padding-left: 5px;
  padding-right: 5px;
}

@import "Pagination";