/* Table Declarations */
$max-height: 750px;
$main-bg-color: #4a5564;
$text-color: #4a5564;
$contrast-text-color: #fff;
$utility-color: #f0f3f5;
$darken-utility-color: darken($utility-color,5);
$even-darker-utility-color: darken($utility-color,10);
$table-font-family: Tahoma, Arial, sans-serif;

/* Pagination Variables - Credit: Bootstrap */

$pagination-color: $text-color !default;
$pagination-bg: #fff !default;
$pagination-border: $utility-color !default;

$pagination-hover-color: $main-bg-color !default;
$pagination-hover-bg: $utility-color !default;
$pagination-hover-border: $utility-color !default;

$pagination-active-color: $contrast-text-color !default;
$pagination-active-bg: $main-bg-color !default;
$pagination-active-border: $utility-color !default;

$pagination-disabled-color: #ddd !default;
$pagination-disabled-bg: #fff !default;
$pagination-disabled-border: $utility-color !default;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;
$line-height-base: 1.428571429 !default;
